body {
	background-color: #fff;
	padding: 0;
	margin: 0;
}
header {
	top: 120px;
}
nav {
	display: block;
	margin: 0;
	padding: 5px;
	text-align: center;
	width: 100%;
	background-color: ;
	height: 20px;
	top: 20px;
}

nav ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	width: 90%;
	height: 30px;
	border-bottom: 1px solid rgba(255,255,255,0.7);
}

nav li {
	display: inline;
	text-align: center;
	padding: 0px;
	margin: 10px;
	background-color: ;
	text-transform: uppercase;
	font-family: Helvetica, sans-serif;
}

nav a {
	text-decoration: none;
	display: inline-block;
	padding: 10px;
	font-size: 14px;
	color: #fff;
	letter-spacing: 4px;
}

a:hover {
	color: #ffD300;
	/*color: #b40000;
	color: #1B7200;*/
}

.float-left {
	float: left;
}
.float-left form {
	margin: 0;
	padding: 0;
}
.float-right {
	float: right;
}
.search-box {
	display: inline;
}

.content {
	background-color: #fff;
	margin: 0px;
}

div {
	display: block;
}

p {
	font-size: 18px;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 25px;
}

.jumbo {
	width: 100%;
	height: 700px;
	background-image: url(photos/ingredient_display.jpeg);
	background-size: cover;
}

.jumbo h1 {
	margin: 0 auto;
	font-family: Baskerville, Times, serif;
	font-size: 90px;
	text-align: center;
	color: #fff;
	width: 700px;
	padding-top: 150px;
}

.welcome {
	margin: 15px;
}
.welcome p {
	font-style: italic;
	font-size: 23px;
}

.class {
	border: 1px solid #ddd;
	margin: 40px 90px;
	clear: both;
	overflow: auto;
}

.classText {
	float: right;
	display: inline-block;
	padding: 15px;
	width: 43%;
}
.class h4 {
	margin: 0 auto;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 30px;
}
.class p {
	max-width: 500px;
	margin: 0 auto;
	margin-top: 10px;
	
}
.class img {
	width: 50%;
}

footer {
	clear: both;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 13px;
	background-color: #000;
	height: 50px;
}

footer ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
}
footer li {
	display: inline;
	text-align: center;
	font-family: Helvetica, sans-serif;
}
footer a {
	text-decoration: none;
	display: inline-block;
	padding: 8px;
	font-size: 14px;
	color: #fff;
	letter-spacing: 3px;
}